USE [MDK]
GO
/****** Object:  Table [dbo].[material]    Script Date: 01.12.2025 22:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[material](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_type_material] [int] NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_material] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 01.12.2025 22:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_status_order] [int] NULL,
	[id_partner] [int] NULL,
	[id_manager] [int] NULL,
	[created_date] [datetime] NULL,
	[prepayment_date] [datetime] NULL,
	[cancel_reason] [nvarchar](50) NULL,
	[prepayment_amount] [float] NULL,
	[full_payment_date] [datetime] NULL,
	[completion_date] [datetime] NULL,
 CONSTRAINT [PK_order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partner_products_request$]    Script Date: 01.12.2025 22:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partner_products_request$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_product] [int] NULL,
	[name_partner] [int] NULL,
	[count] [float] NULL,
 CONSTRAINT [PK_partner_products_request$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partner_rating_history]    Script Date: 01.12.2025 22:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partner_rating_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_partner] [int] NULL,
	[old_rating] [float] NULL,
	[new_rating] [float] NULL,
	[change_date] [datetime] NULL,
	[changed_by_manager] [int] NULL,
	[reason] [nvarchar](255) NULL,
 CONSTRAINT [PK_partner_rating_history] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partners$]    Script Date: 01.12.2025 22:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partners$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_partner] [int] NULL,
	[name] [nvarchar](255) NULL,
	[director] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[phone] [nvarchar](255) NULL,
	[adress] [nvarchar](255) NULL,
	[inn] [float] NULL,
	[reiting] [float] NULL,
 CONSTRAINT [PK_partners$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products$]    Script Date: 01.12.2025 22:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_type_product] [int] NULL,
	[name] [nvarchar](255) NULL,
	[Артикул] [float] NULL,
	[Минимальная стоимость для партнера] [float] NULL,
 CONSTRAINT [PK_products$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 01.12.2025 22:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status_order]    Script Date: 01.12.2025 22:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status_order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_status_order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status_structure_order]    Script Date: 01.12.2025 22:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status_structure_order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_status_structure_order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[structure_order]    Script Date: 01.12.2025 22:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[structure_order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_order] [int] NULL,
	[id_product] [int] NULL,
	[quantity] [int] NULL,
	[agreed_price] [float] NULL,
	[production_date] [datetime] NULL,
	[id_status_structure_order] [int] NULL,
 CONSTRAINT [PK_structure_order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suppliers]    Script Date: 01.12.2025 22:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suppliers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_type_partner] [int] NULL,
 CONSTRAINT [PK_suppliers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suppliers_material]    Script Date: 01.12.2025 22:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suppliers_material](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_suppliers] [int] NULL,
	[id_material] [int] NULL,
 CONSTRAINT [PK_suppliers_material] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type_material$]    Script Date: 01.12.2025 22:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type_material$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[procent] [float] NULL,
 CONSTRAINT [PK_type_material$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type_partner$]    Script Date: 01.12.2025 22:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type_partner$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [PK_type_partner$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type_product$]    Script Date: 01.12.2025 22:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type_product$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[coefficient] [float] NULL,
 CONSTRAINT [PK_type_product$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type_suppliers]    Script Date: 01.12.2025 22:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type_suppliers](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_type_suppliers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 01.12.2025 22:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_role] [int] NULL,
	[login] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[order] ON 

INSERT [dbo].[order] ([id], [id_status_order], [id_partner], [id_manager], [created_date], [prepayment_date], [cancel_reason], [prepayment_amount], [full_payment_date], [completion_date]) VALUES (1, 7, 3, 2, CAST(N'2025-11-30T18:34:10.383' AS DateTime), NULL, N'Отменен партнером', NULL, NULL, NULL)
INSERT [dbo].[order] ([id], [id_status_order], [id_partner], [id_manager], [created_date], [prepayment_date], [cancel_reason], [prepayment_amount], [full_payment_date], [completion_date]) VALUES (2, 3, 3, 2, CAST(N'2025-11-30T20:33:02.500' AS DateTime), CAST(N'2025-11-30T20:33:08.133' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[order] OFF
GO
SET IDENTITY_INSERT [dbo].[partner_products_request$] ON 

INSERT [dbo].[partner_products_request$] ([id], [id_product], [name_partner], [count]) VALUES (1, 21, 1, 2000)
INSERT [dbo].[partner_products_request$] ([id], [id_product], [name_partner], [count]) VALUES (2, 5, 2, 3000)
INSERT [dbo].[partner_products_request$] ([id], [id_product], [name_partner], [count]) VALUES (3, 1, 3, 1000)
SET IDENTITY_INSERT [dbo].[partner_products_request$] OFF
GO
SET IDENTITY_INSERT [dbo].[partners$] ON 

INSERT [dbo].[partners$] ([id], [type_partner], [name], [director], [email], [phone], [adress], [inn], [reiting]) VALUES (1, 1, N'Стройдвор', N'Андреева Ангелина Николаевна', N'angelina77@kart.ru', N'492 452 22 82', N'143001, Московская область, город Одинцово, уд. Ленина, 21', 9432455179, 5)
INSERT [dbo].[partners$] ([id], [type_partner], [name], [director], [email], [phone], [adress], [inn], [reiting]) VALUES (2, 1, N'Самоделка', N'Мельников Максим Петрович', N'melnikov.maksim88@hm.ru', N'812 267 19 59', N'306230, Курская область, город Обоянь, ул. 1 Мая, 89', 7803888520, 3)
INSERT [dbo].[partners$] ([id], [type_partner], [name], [director], [email], [phone], [adress], [inn], [reiting]) VALUES (3, 2, N'Деревянные изделия', N'Лазарев Алексей Сергеевич', N'aleksejlazarev@al.ru', N'922 467 93 83', N'238340, Калининградская область, город Светлый, ул. Морская, 12', 8430391035, 4)
SET IDENTITY_INSERT [dbo].[partners$] OFF
GO
SET IDENTITY_INSERT [dbo].[products$] ON 

INSERT [dbo].[products$] ([id], [id_type_product], [name], [Артикул], [Минимальная стоимость для партнера]) VALUES (1, 1, N'Фанера ФСФ 1800х1200х27 мм бежевая береза', 6549922, 5100)
INSERT [dbo].[products$] ([id], [id_type_product], [name], [Артикул], [Минимальная стоимость для партнера]) VALUES (2, 2, N'Мягкие панели прямоугольник велюр цвет оливковый 600х300х35 мм', 7018556, 1880)
INSERT [dbo].[products$] ([id], [id_type_product], [name], [Артикул], [Минимальная стоимость для партнера]) VALUES (3, 4, N'Бетонная 3 Белый кирпич микс 30х7,3 см', 5028272, 2080)
SET IDENTITY_INSERT [dbo].[products$] OFF
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([id], [name]) VALUES (1, N'Администратор')
INSERT [dbo].[role] ([id], [name]) VALUES (2, N'Менеджер')
INSERT [dbo].[role] ([id], [name]) VALUES (3, N'Партнер')
SET IDENTITY_INSERT [dbo].[role] OFF
GO
SET IDENTITY_INSERT [dbo].[status_order] ON 

INSERT [dbo].[status_order] ([id], [name]) VALUES (1, N'новый')
INSERT [dbo].[status_order] ([id], [name]) VALUES (2, N'Ожидает предоплаты')
INSERT [dbo].[status_order] ([id], [name]) VALUES (3, N'Предоплата получена')
SET IDENTITY_INSERT [dbo].[status_order] OFF
GO
SET IDENTITY_INSERT [dbo].[status_structure_order] ON 

INSERT [dbo].[status_structure_order] ([id], [name]) VALUES (1, N'в обработке')
INSERT [dbo].[status_structure_order] ([id], [name]) VALUES (2, N'Ожидает производства')
INSERT [dbo].[status_structure_order] ([id], [name]) VALUES (3, N'В производстве')
SET IDENTITY_INSERT [dbo].[status_structure_order] OFF
GO
SET IDENTITY_INSERT [dbo].[structure_order] ON 

INSERT [dbo].[structure_order] ([id], [id_order], [id_product], [quantity], [agreed_price], [production_date], [id_status_structure_order]) VALUES (1, 1, 2, 10, 1880, NULL, 1)
INSERT [dbo].[structure_order] ([id], [id_order], [id_product], [quantity], [agreed_price], [production_date], [id_status_structure_order]) VALUES (2, 2, 17, 1, 1700, NULL, 1)
INSERT [dbo].[structure_order] ([id], [id_order], [id_product], [quantity], [agreed_price], [production_date], [id_status_structure_order]) VALUES (3, 2, 3, 1, 2080, NULL, 1)
SET IDENTITY_INSERT [dbo].[structure_order] OFF
GO
SET IDENTITY_INSERT [dbo].[type_material$] ON 

INSERT [dbo].[type_material$] ([id], [name], [procent]) VALUES (1, N'Тип материала 1', 0.002)
INSERT [dbo].[type_material$] ([id], [name], [procent]) VALUES (2, N'Тип материала 2', 0.005)
INSERT [dbo].[type_material$] ([id], [name], [procent]) VALUES (3, N'Тип материала 3', 0.003)
SET IDENTITY_INSERT [dbo].[type_material$] OFF
GO
SET IDENTITY_INSERT [dbo].[type_partner$] ON 

INSERT [dbo].[type_partner$] ([id], [name]) VALUES (1, N'ЗАО')
INSERT [dbo].[type_partner$] ([id], [name]) VALUES (2, N'ООО')
INSERT [dbo].[type_partner$] ([id], [name]) VALUES (3, N'ПАО')
SET IDENTITY_INSERT [dbo].[type_partner$] OFF
GO
SET IDENTITY_INSERT [dbo].[type_product$] ON 

INSERT [dbo].[type_product$] ([id], [name], [coefficient]) VALUES (1, N'Древесно-плитные материалы', 1.5)
INSERT [dbo].[type_product$] ([id], [name], [coefficient]) VALUES (2, N'Декоративные панели', 3.5)
INSERT [dbo].[type_product$] ([id], [name], [coefficient]) VALUES (3, N'Плитка', 5.25)
SET IDENTITY_INSERT [dbo].[type_product$] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [id_role], [login], [password]) VALUES (1, 1, N'admin', N'admin123')
INSERT [dbo].[users] ([id], [id_role], [login], [password]) VALUES (2, 2, N'manager', N'manager123')
INSERT [dbo].[users] ([id], [id_role], [login], [password]) VALUES (3, 3, N'parther', N'parther123')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[material]  WITH CHECK ADD  CONSTRAINT [FK_material_type_material$] FOREIGN KEY([id_type_material])
REFERENCES [dbo].[type_material$] ([id])
GO
ALTER TABLE [dbo].[material] CHECK CONSTRAINT [FK_material_type_material$]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_order_partners$] FOREIGN KEY([id_partner])
REFERENCES [dbo].[partners$] ([id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_order_partners$]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_order_status_order] FOREIGN KEY([id_status_order])
REFERENCES [dbo].[status_order] ([id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_order_status_order]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_order_users] FOREIGN KEY([id_manager])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_order_users]
GO
ALTER TABLE [dbo].[partner_products_request$]  WITH CHECK ADD  CONSTRAINT [FK_partner_products_request$_partners$] FOREIGN KEY([name_partner])
REFERENCES [dbo].[partners$] ([id])
GO
ALTER TABLE [dbo].[partner_products_request$] CHECK CONSTRAINT [FK_partner_products_request$_partners$]
GO
ALTER TABLE [dbo].[partner_products_request$]  WITH CHECK ADD  CONSTRAINT [FK_partner_products_request$_products$] FOREIGN KEY([id_product])
REFERENCES [dbo].[products$] ([id])
GO
ALTER TABLE [dbo].[partner_products_request$] CHECK CONSTRAINT [FK_partner_products_request$_products$]
GO
ALTER TABLE [dbo].[partner_rating_history]  WITH CHECK ADD  CONSTRAINT [FK_partner_rating_history_partners$] FOREIGN KEY([id_partner])
REFERENCES [dbo].[partners$] ([id])
GO
ALTER TABLE [dbo].[partner_rating_history] CHECK CONSTRAINT [FK_partner_rating_history_partners$]
GO
ALTER TABLE [dbo].[partner_rating_history]  WITH CHECK ADD  CONSTRAINT [FK_partner_rating_history_users] FOREIGN KEY([changed_by_manager])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[partner_rating_history] CHECK CONSTRAINT [FK_partner_rating_history_users]
GO
ALTER TABLE [dbo].[partners$]  WITH CHECK ADD  CONSTRAINT [FK_partners$_type_partner$] FOREIGN KEY([type_partner])
REFERENCES [dbo].[type_partner$] ([id])
GO
ALTER TABLE [dbo].[partners$] CHECK CONSTRAINT [FK_partners$_type_partner$]
GO
ALTER TABLE [dbo].[products$]  WITH CHECK ADD  CONSTRAINT [FK_products$_type_product$] FOREIGN KEY([id_type_product])
REFERENCES [dbo].[type_product$] ([id])
GO
ALTER TABLE [dbo].[products$] CHECK CONSTRAINT [FK_products$_type_product$]
GO
ALTER TABLE [dbo].[structure_order]  WITH CHECK ADD  CONSTRAINT [FK_structure_order_order] FOREIGN KEY([id_order])
REFERENCES [dbo].[order] ([id])
GO
ALTER TABLE [dbo].[structure_order] CHECK CONSTRAINT [FK_structure_order_order]
GO
ALTER TABLE [dbo].[structure_order]  WITH CHECK ADD  CONSTRAINT [FK_structure_order_status_structure_order] FOREIGN KEY([id_status_structure_order])
REFERENCES [dbo].[status_structure_order] ([id])
GO
ALTER TABLE [dbo].[structure_order] CHECK CONSTRAINT [FK_structure_order_status_structure_order]
GO
ALTER TABLE [dbo].[suppliers]  WITH CHECK ADD  CONSTRAINT [FK_suppliers_type_suppliers] FOREIGN KEY([id_type_partner])
REFERENCES [dbo].[type_suppliers] ([id])
GO
ALTER TABLE [dbo].[suppliers] CHECK CONSTRAINT [FK_suppliers_type_suppliers]
GO
ALTER TABLE [dbo].[suppliers_material]  WITH CHECK ADD  CONSTRAINT [FK_suppliers_material_material] FOREIGN KEY([id_material])
REFERENCES [dbo].[material] ([id])
GO
ALTER TABLE [dbo].[suppliers_material] CHECK CONSTRAINT [FK_suppliers_material_material]
GO
ALTER TABLE [dbo].[suppliers_material]  WITH CHECK ADD  CONSTRAINT [FK_suppliers_material_suppliers] FOREIGN KEY([id_suppliers])
REFERENCES [dbo].[suppliers] ([id])
GO
ALTER TABLE [dbo].[suppliers_material] CHECK CONSTRAINT [FK_suppliers_material_suppliers]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_role] FOREIGN KEY([id_role])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_role]
GO
